<mat-toolbar >
  <span class="example-spacer"></span>
  
  <span>Nombre de Categoria</span>
  
  
</mat-toolbar>



<mat-sidenav-container class="container">  
  <router-outlet />
</mat-sidenav-container>





<mat-toolbar class="abajo">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon style="color:aqua">menu</mat-icon>
  </button>
  <span>Copaguia</span>
  <span class="example-spacer"></span>

 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon style="color:aqua">favorite</mat-icon>
    </button>
  
  
</mat-toolbar>
