rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    

    // Colección 'Usuarios': Perfiles públicos de usuario
    match /Usuarios/{uid} {
      allow read; // Cualquiera puede leer un perfil
      // Solo el propietario (uid del documento) puede crearlo o actualizarlo
      allow write: if request.auth != null && request.auth.uid == uid;
    }

    // Reglas para la colección principal de Negocios
    match /negocios/{negocioId} {
      // Cualquier persona puede ver el directorio de negocios (Lectura pública)
      allow read: if true; 
      
      // Solo el dueño del negocio o un Admin pueden editar la info del local
      allow write: if estaAutenticado() && (request.auth.uid == resource.data.duenoId || tieneRol('admin'));

      // Reglas para la subcolección de Pedidos (Crítico para la privacidad)
      match /pedidos/{pedidoId} {
        // Un cliente puede crear un pedido (write)
        allow create: if true; 
        
        // Solo el dueño del negocio o el Admin pueden leer y gestionar los pedidos
        allow read, update: if estaAutenticado() && 
          (request.auth.uid == get(/databases/$(database)/documents/negocios/$(negocioId)).data.duenoId || tieneRol('admin'));
        
        // Prohibido borrar pedidos (por integridad contable)
        allow delete: if tieneRol('admin');
      }
    }

    

    
  }
}