<div class="example-button-row container cdk-virtual-scroll-data-source-example ">

    <cdk-virtual-scroll-viewport 
        orientation="horizontal" 
        itemSize="50" 
        class="example-viewport cdk-scrollable">
        @for (item of conector; track $index) {
            <button mat-flat-button routerLink="{{item.ruta}}" matTooltip="identificado" >
                <!-- Agregaremos al tenerlo todos
                <mat-icon>{{item.icono}}</mat-icon>-->
                <span style="letter-spacing: 1px; font-size: medium;">{{item.ruta}}</span>
            </button>
            
        }
    </cdk-virtual-scroll-viewport>


</div>
