<mat-toolbar class="custom-toolbar">
  <span><strong>{{ tituloToolbar() | uppercase }}</strong></span>
  <span class="toolbar-spacer"></span>

  @if (authService.perfilLectura(); as perfil) {
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="avatar-button">
      <img [src]="perfil.urlFoto" class="user-avatar" alt="Avatar">
    </button>
  }
</mat-toolbar>

<mat-tab-group 
  fitInkBarToContent 
  headerPosition="above"
  (selectedTabChange)="onTabChange($event)">
  
  @for (categoria of categorias(); track $index) {
    <mat-tab [label]="categoria.ruta">
      <app-scroll-botones [conector]="categoria.seccion"></app-scroll-botones>
      
      <div class="carrusel-content">
        <app-carrusel [conector]="categoria.tarjetas"></app-carrusel>
      </div>
    </mat-tab>
  }
</mat-tab-group>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="navigateToProfile()">
    <mat-icon>account_circle</mat-icon>
    <span>Mi Perfil</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>