
  <mat-toolbar>
    <span style="letter-spacing: 1px;">
      <strong>CATEGORIAS</strong>
    </span>
  </mat-toolbar>
  
  <mat-divider></mat-divider>
  
  <mat-tab-group fitInkBarToContent headerPosition="below">  
    

      @for (categoria of categorias(); track $index) {
            <mat-tab [label]="categoria.ruta">

                <div class="carrusel-content">  

                  <h2>{{ categoria.ruta }}</h2>
                  <app-carrusel [conector]="categoria.tarjetas"></app-carrusel>                      

                </div>
                   
                <app-scroll-botones [conector]="categoria.seccion"></app-scroll-botones>     

            </mat-tab>
          }

  </mat-tab-group>
