<section class="box-responsive">
    <header class="header-editor">
      <h2 class="mat-headline-5">Configuración de mi Negocio</h2>
      <p>Actualiza la información que verán tus clientes en el directorio.</p>
    </header>

    <form [formGroup]="formGroup" (ngSubmit)="actualizarDatos()" class="form-grid">
      <div class="seccion-visual">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>URL Logo</mat-label>
          <input matInput formControlName="logo">
          <mat-icon matSuffix>image</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>URL Banner</mat-label>
          <input matInput formControlName="banner">
          <mat-icon matSuffix>add_photo_alternate</mat-icon>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción del Negocio</mat-label>
        <textarea matInput formControlName="descripcion" rows="4"></textarea>
      </mat-form-field>

      <div class="contacto-grid">
        <mat-form-field appearance="outline">
          <mat-label>WhatsApp (Pedidos)</mat-label>
          <input matInput formControlName="whatsapp">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Instagram (@usuario)</mat-label>
          <input matInput formControlName="instagram">
        </mat-form-field>
      </div>

      <button mat-flat-button color="primary" class="btn-guardar" 
              [disabled]="formGroup.invalid || estaCargando()">
        {{ estaCargando() ? 'Guardando...' : 'Guardar Cambios' }}
      </button>
    </form>
  </section>