img {
    border-radius: 10px;
}

mat-icon {
    width: 55px;
    height: auto;
}

a {
    
    width: 190px;
    font-size: medium;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: left;
}

