<mat-tab-group class="navegacion" headerPosition="below" >
    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">edit</mat-icon>
        </ng-template>
        
        <mat-tab-group class="arriba" mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group>

      </mat-tab>
    


      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">local_library</mat-icon>
        </ng-template>
        Servicio Comunitario
      </mat-tab>
    


      <mat-tab>

        

        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">search</mat-icon>         
        </ng-template>
<div class="container">
        <mat-toolbar>
          Categorias
          </mat-toolbar>
                  
          <app-card-r></app-card-r>
          <app-card-r></app-card-r>
          <app-card-r></app-card-r>
          <app-card-r></app-card-r>
          <app-card-r></app-card-r>
          <app-card-r></app-card-r>
          <app-card-r></app-card-r>

        </div>
      </mat-tab>



      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">star</mat-icon>          
        </ng-template>    
        Content 4
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">verified</mat-icon>
          
        </ng-template>
    
        Content 4
      </mat-tab>

      
      </mat-tab-group>

