.example-tab-icon {
    margin-right: 8px;
  }
  
.arriba {
    position: fixed;
  top: 0;
  width: 100%;
}
.navegacion {
    position: fixed;
  bottom: 0;
  width: 100%;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

