<app-tool-bar-page title="{{ title }}"></app-tool-bar-page>


<div class="container">
    <div class="row">

        @for (item of negocios(); track $index) {
            <div class="col-md-4 mb-4">
                    <div class="card">
                    <img [src]="item.imagen" class="card-img-top" alt="{{ item.nombre}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.nombre }}</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">{{ item.seccion}}</h6>
                    </div>
                    </div>
                </div>
        }

     
    </div>
  </div>