
.login-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 100vh;          /* Hace que el contenedor ocupe toda la altura de la pantalla */
  background-color: #031e1d; /* Un fondo suave para que la tarjeta resalte */
}

.login-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.app-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.google-login-button {
  width: 100%; 
  height: 48px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

/* Estilos para el spinner dentro del botón */
.google-login-button mat-progress-spinner {
  margin: 0;
}

.error-message {
  color: red;
  margin-top: 16px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
