
<swiper-container effect="cards" grab-cursor="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
  
  @for (item of conector; track $index) {
    <swiper-slide>
      
      <mat-card appearance="outlined">
        
        <img src="https://i.imgur.com/S5BUqP5.jpeg" alt="Photo of a Shiba Inu">
        
        <mat-card-actions align="end">
          <button matButton="filled">WHATSAPP</button>
          <button matButton>IR AL PERFIL</button>
          <button matButton="filled">LLAMAR</button>
        </mat-card-actions>
      </mat-card>
      
    
      

     </swiper-slide> 
 } 

</swiper-container>
